workflows/iijkdt4L42skExPy-_Agent_Circle_s_N8N_Workflow_Automated_AI_Image_Creator.json
{
  "name": "[Agent Circle's N8N Workflow] Automated AI Image Creator",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e04fec4-441e-45f7-acea-0017a4b5c104",
              "name": "model",
              "type": "string",
              "value": "flux"
            },
            {
              "id": "aa80cd68-1c82-4032-b1d7-e098856eec38",
              "name": "width",
              "type": "string",
              "value": "1080"
            },
            {
              "id": "da6d305f-aece-49bd-ae02-52df59915c60",
              "name": "height",
              "type": "string",
              "value": "1920"
            }
          ]
        },
        "options": {}
      },
      "id": "8b1b7a77-118b-4b82-bea5-4cde6ccbf8bd",
      "name": "Fields - Set Values",
      "type": "n8n-nodes-base.set",
      "position": [
        336,
        864
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8769e462-0c8e-49b4-8558-431d5bb46572",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -16,
        864
      ],
      "webhookId": "5b347b5d-8f35-45b3-a499-de95153088f0",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "function cleanAndExtractJSON(response) {\n    try {\n        const result = {\n            image_prompt: []\n        };\n\n        const lines = response.split('\\n');\n        let currentPrompt = '';\n\n        for (const line of lines) {\n            if (line.includes('\"prompt\":')) {\n                if (currentPrompt) {\n                    result.image_prompt.push(currentPrompt.trim());\n                }\n                currentPrompt = line.split('\"prompt\":')[1].trim();\n            }\n        }\n\n        if (currentPrompt) {\n            result.image_prompt.push(currentPrompt.trim());\n        }\n\n        return { json: result };\n        \n    } catch (error) {\n        return { \n            json: {\n                image_prompt: []\n            }\n        };\n    }\n}\n\nconst response = $input.first().json.output;\nreturn cleanAndExtractJSON(response);"
      },
      "id": "d1bac346-357d-4dc8-b112-1ef23a0d5b7f",
      "name": "Code - Clean Json",
      "type": "n8n-nodes-base.code",
      "position": [
        1024,
        864
      ],
      "executeOnce": false,
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.image_prompt.map(prompt => ({\n  json: {\n    body: {\n      prompt: prompt,\n  \"image_size\": {\n    \"width\": $('Fields - Set Values').first().json.width,\n    \"height\": $('Fields - Set Values').first().json.height\n  },\n  \"num_inference_steps\": 12,\n  \"guidance_scale\": 3.5,\n  \"num_images\": 1,\n  \"enable_safety_checker\": true,\n}\n    }\n  }\n));"
      },
      "id": "19596550-983a-4c99-8e03-92412ade60a8",
      "name": "Code - Get Prompt",
      "type": "n8n-nodes-base.code",
      "position": [
        1200,
        864
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/ {{ $('Code - Get Prompt').item.json.body.prompt }}",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"width\": {{ $('Fields - Set Values').item.json.width }},\n  \"height\": {{ $('Fields - Set Values').item.json.height }},\n  \"model\": \"{{ $('Fields - Set Values').item.json.model }}\",\n  \"seed\": 42,\n  \"nologo\": true\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "7cef8dd5-05f3-4a19-845c-7179aab17d42",
      "name": "HTTP Request - Create Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1584,
        864
      ],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "alwaysOutputData": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "for (let i = 0; i < items.length; i++) {\n  items[i].json.fileName = `images_${(i + 1).toString().padStart(3, '0')}.png`;\n}\nreturn items;"
      },
      "id": "f0535ee9-7df7-4103-9c8c-6a339bcdbba6",
      "name": "Code - Set Filename",
      "type": "n8n-nodes-base.code",
      "position": [
        1408,
        864
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "maxOutputTokens": 65536,
          "temperature": 0.5,
          "topK": 40,
          "topP": 1,
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_HARASSMENT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_HATE_SPEECH",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              },
              {}
            ]
          }
        }
      },
      "id": "9e943be3-1a3e-4766-b15c-5033c5d884a6",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        592,
        1072
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "3YuiXypDRQmrAqxn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "**[Flujo de trabajo N8N de Agent Circle] Creador Automático de Imágenes con IA**\n\nEsta plantilla de N8N demuestra cómo usar inteligencia artificial para generar imágenes personalizadas desde cero — completamente automatizado, basado en instrucciones (prompts) y listo para desplegarse a gran escala.\nLos casos de uso son muchos: puedes usarlo para material de marketing, arte de personajes, carteles digitales, guiones gráficos o incluso para generar imágenes diarias con fines personales.\n\n**Cómo Funciona**\nEl flujo se activa mediante un mensaje de chat en N8N o a través de Telegram. El tamaño predeterminado de la imagen es 1080 x 1920 píxeles. Para usar un tamaño diferente, actualiza los valores en el nodo “Fields - Set Values” antes de ejecutar el flujo.\n\n\nLos datos de imagen en bruto creados por el Agente de IA se procesan mediante varios códigos para asegurar que sean viables para su vista previa o descarga.\n\n**Cómo Usarlo**\n-Descarga el paquete del flujo de trabajo.\n-Importa el paquete en tu interfaz de N8N.\n-Abre la interfaz de chat (a través de N8N).\n-Escribe tu prompt o una descripción detallada de la imagen y envíala.\n-Espera unos segundos mientras se ejecuta el proceso.\n-Revisa el resultado en la ubicación de guardado que elegiste.\n\n**Requisitos**\n-Cuenta de Google Gemini con acceso a generación de imágenes.\nAcceso a un bot de Telegram y configuración de chat (opcional).\n-Conexión a almacenamiento local (opcional).\n\n**Cómo Personalizarlo**\n-El tamaño de imagen predeterminado está establecido en 1080 x 1920 píxeles, y el modelo de imagen por defecto es \"flux\". Puedes modificar ambos valores en el nodo “Fields – Set Values”.\n\n-Los modelos de imagen compatibles incluyen: \"flux\", \"kontext\", \"turbo\" y \"gptimage\".\n\n-En el nodo “AI Agent – Create Image From Prompt”, también puedes cambiar el modelo de chat de IA. Por defecto usa Google Gemini, pero puedes reemplazarlo fácilmente por OpenAI ChatGPT, Microsoft Copilot, o cualquier otro proveedor compatible.\n\n",
        "height": 584,
        "width": 1704,
        "color": 5
      },
      "id": "f422fce6-03ca-4a5f-8894-15ac290ef45d",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## **1. Get The Inputs**\nWe’ll take your image idea from the text you send in the chat, along with any settings like image size or style. This information is parsed and prepared for the image generation step.\n\n",
        "height": 220,
        "width": 424,
        "color": 7
      },
      "id": "9199de14-e52e-465c-9d45-cd53dd6747b4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## **2. Use Google Gemini's Image Model To Generate The Image**\nYour prompt and settings are sent to Google Gemini’s Image Generation Model.\nPrefer a different model? You can easily swap in alternatives like OpenAI ChatGPT or Microsoft Copilot.\n\n",
        "height": 220,
        "width": 420,
        "color": 7
      },
      "id": "561d13fd-9616-45d0-94a9-41b0ef182bf0",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## **4. Preview And Save The Image**\nOnce your image is ready in a downloadable format, you’ll be able to preview it. If you're happy with the result, you can save it in one of two ways by activating either of them before running the workflow:\n- As a reply in Telegram chat\n- To your local storage (disk)\n\n\n\n",
        "height": 188,
        "width": 540,
        "color": 7
      },
      "id": "7718d7a0-f7bc-4724-94ee-7a60da89a76c",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## **3. Prepare The Final Image Feasible For Preview And Saving**\nThis stage helps to clean up the raw output from the AI Agent for your image request and format it into a complete, ready-to-view and downloadable format. \n",
        "height": 188,
        "width": 520,
        "color": 7
      },
      "id": "a07e3929-8eb2-4026-8b2d-585295eb4e79",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI image‑prompt creation expert. Please create a post using the following JSON format:\nAI Image Generation Prompt Guidelines:\nObjective\nCreate highly realistic, high‐quality images\nEnsure the image content faithfully conveys the spirit of the original text\nIntegrate short text (10–20 characters) naturally into the image\nMaintain consistency and professionalism\n\nStandard Prompt Structure\n[Main Scene] | [Key Elements] | [Text Integration] | [Lighting & Atmosphere] | [Technical Parameters] | [Style Parameters]\n\nComponent Breakdown\n1. Main Scene (Weight ::8)\nDescribe the primary setting in line with the content.\nExamples:\nTech news: “modern tech office setting, minimalist workspace”\nEconomy news: “professional financial district, corporate environment”\nEducation news: “modern classroom, advanced learning environment”\n\n2. Key Elements (Weight ::8)\nList the main visual elements required.\nExamples:\n“large HD display showing text ‘AI Ethics’ in modern typography”\n“professional people in business attire discussing around interactive screen”\n“detailed infographic elements floating in augmented reality style”\n\n3. Text Integration (Weight ::7)\nHow to display text within the image:\ntext elements | elegant typography, clear readable text, integrated naturally into scene ::7\n\n4. Lighting & Atmosphere (Weight ::7)\nlighting | cinematic dramatic lighting, natural ambient light, professional studio setup ::7\nbackground | depth of field blur, clean professional environment ::6\n\n5. Technical Parameters\nparameters | 8k resolution, hyperrealistic, photorealistic quality, octane render, cinematic composition --ar 16:9\nsettings | sharp focus, high detail, professional photography --s 1000 --q 2\nComplete Examples\nExample 1: AI Ethics News\nprofessional tech conference room | large display showing \"AI Ethics Now\" in modern typography, group of diverse executives in discussion ::8 | clean modern workspace, glass walls, tech atmosphere ::7 | cinematic lighting, natural window light ::7 | 8k resolution, hyperrealistic quality, octane render --ar 16:9 --s 1000 --q 2\nExample 2: Financial Market News\nmodern stock exchange environment | giant LED wall showing \"Market Alert\" in bold typography, professional traders in action ::8 | dynamic financial data visualization, sleek modern interior ::7 | dramatic lighting, blue-tinted atmosphere ::7 | 8k resolution, photorealistic quality --ar 16:9 --s 1000 --q 2\n\nAdditional Parameters\n--chaos [0–100]: Adjust randomness\n--stylize [0–1000]: Degree of stylization\n--seed [number]: Ensure consistency across generations\n--niji: Optimized for Asian‐style aesthetics\n--v 5.2: Use the latest model version\n\nImportant Notes\nText in Image\nKeep it short and legible\nUse professional fonts\nIntegrate naturally into the scene\n\nComposition\nFollow the rule of thirds\nEnsure a clear focal point\nBalance text and imagery\n\nColor\nMatch a professional tone\nProvide sufficient contrast for readability\nMaintain visual consistency\n\nTechnical Details\nAlways use high resolution (8k)\nEnsure professional lighting\nOptimize for sharpness and detail\n\nCommon Pitfalls to Avoid\nOverly generic prompts\nMissing text‐integration guidance\nFailing to specify composition rules\nOmitting key technical parameters\n\nThe structure is:\n{\n  prompt_image {prompt : \"\" , ...}\n}\n\n\n"
        }
      },
      "id": "89c25a1f-9b2f-401a-955e-656be5756367",
      "name": "AI Agent - Create Image From Prompt",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        592,
        864
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/{{ $('Code').item.json.fileName }}",
        "options": {}
      },
      "id": "3f93ad3a-76c9-43db-954b-2fdc95d88257",
      "name": "Save Image To Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [
        1760,
        864
      ],
      "typeVersion": 1,
      "disabled": true
    }
  ],
  "connections": {
    "Code - Clean Json": {
      "main": [
        [
          {
            "node": "Code - Get Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Get Prompt": {
      "main": [
        [
          {
            "node": "Code - Set Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Set Filename": {
      "main": [
        [
          {
            "node": "HTTP Request - Create Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fields - Set Values": {
      "main": [
        [
          {
            "node": "AI Agent - Create Image From Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Create Image From Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Fields - Set Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create Image": {
      "main": [
        [
          {
            "node": "Save Image To Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Create Image From Prompt": {
      "main": [
        [
          {
            "node": "Code - Clean Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}